gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
**/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore or signing passwords.
key.properties
**/key.properties
**/*.keystore
**/*.jks
**/*.pem
**/*.p12
